@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Stack+Sans+Text:wght@200..700&display=swap');
 
 @import "tailwindcss";



:root {
  --primary: #060618;
  --secondary: #ce7bff;
}

.bg-primary {
  background-color: var(--primary);
}
.bg-secondary {
  background-color: var(--secondary);
}
.text-secondary {
  color: var(--secondary);
}
/* -----------------------------------
   ✨ Custom TailwindCSS Additions
-------------------------------------*/

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 9999px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Selection highlight */
::selection {
  background-color: var(--secondary);
  color: #000;
}

/* Customize bullet color */
.swiper-pagination-bullet {
  background-color: #aaa !important; /* Inactive bullet color */
  opacity: 0.7;
}

/* Customize active bullet color */
.swiper-pagination-bullet-active {
  background-color: #ce7bff !important; /* Active bullet color */
  opacity: 1;
}



.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 
    0 8px 32px 0 rgba(0, 0, 0, 0.36),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
}

